@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
  @apply bg-gray-900 text-white;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.moss-animate {
  @apply transition-all ease-linear duration-100;
}

.app {
  max-width: 480px;
}
.input {
  min-width: 240px;
  max-width: 440px;
}
.my-padding-60 {
  background: rgba(0, 0, 0, 0.6);
}
